#------------------------------------------------------------------
# ex : imageRegistry={IP}:{PORT}
# ex : templateOperatorVersion={template operator version}
# ex : templateNamespace={template namespace}
# ex : clusterTsbVersion={cluster-tsb version}
# ex : tsbVersion={tsb version}
# ex : clusterTsbNamespace={cluster-tsb namespace}
# ex : tsbNamespace={tsb namespace}
#------------------------------------------------------------------
# ex : imageRegistry=192.168.6.122:5000
# ex : templateOperatorVersion=0.0.1
# ex : templateNamespace=template
# ex : clusterTsbVersion=0.0.1
# ex : tsbVersion=0.0.1
# ex : clusterTsbNamespace={cluster-tsb namespace}
# ex : tsbNamespace={tsb namespace}
#------------------------------------------------------------------

#image registry
imageRegistry=docker.io

#templateOperatorVersion
templateOperatorVersion=0.2.7

#templateNamespace
templateNamespace=template

#clusterTsbVersion
clusterTsbVersion=0.1.4

#tsbVersion
tsbVersion=0.1.4

#clusterTsbNamespace
clusterTsbNamespace=cluster-tsb-ns

#tsbNamespace
tsbNamespace=tsb-ns
